.idea
.nbproject
.settings
nbproject/
/index.php
application/config/config.php
application/config/database.php
user_guide/
nbproject/
*.iml
*.sublime-workspace
media/*
node_modules/
application/cache/
