

#page-wrapper{
   padding-left: 0;
   padding-right: 0;
}

.row-mapa{
    
}

/*	start styles for the ContextMenu	*/
.context_menu{
	background-color:white;
	border:1px solid gray;
}
.context_menu_item{
	padding:3px 6px;
}
.context_menu_item:hover{
	background-color:#CCCCCC;
}
.context_menu_separator{
	background-color:gray;
	height:1px;
	margin:0;
	padding:0;
}

.table-letra-pequena > tbody{
    font-size: 10px;
}

.table-letra-pequena > thead > tr > th{
    font-size: 10px;
}

#contenido-popup-informacion-capas > .fa-spinner{
    text-align: center;
    width: 100%;
}

#busqueda {
  margin-top: 9px;
}

#busqueda > input{
    width:500px;
}

#menu-derecho{
    background-color: #fff; 
    margin-top: 10px;
    padding-left: 0px;
    margin-right: 20px;
}

#menu-derecho > .navbar-nav > li > a {
    border: 1px solid #717B87;
    padding: 1px 22px;
    line-height: 28px;
}

.navbar-right .dropdown-menu {
    left: auto;
    right: auto;
}

.checkbox-menu{
    margin-bottom: 0px;
    margin-top: 0px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.inline {
    display:inline;
}

.color-capa-preview{
    height: 15px;
    width: 15px;
}