#page-wrapper {
    border-left: 1px solid #2c3e50;
    margin: 50px 0 0 225px;
    min-height: 650px;
    padding: 0 20px;
}

.row-mapa{
    margin-left: -20px;
    margin-right: -20px;
}

#menu-contexto{
    display:none;
    background-color: #FFF;
    border: 1px solid #000;
    position:absolute;
}

#menu-contexto li{
    padding: 5px;
}
