#page-wrapper {
    border-left: 1px solid #2c3e50;
    margin: 50px 0 0 225px;
    min-height: 650px;
    padding: 0 20px;
}

.row-mapa{
    margin-left: -20px;
    margin-right: -20px;
}


/*	start styles for the ContextMenu	*/
.context_menu{
	background-color:white;
	border:1px solid gray;
}
.context_menu_item{
	padding:3px 6px;
}
.context_menu_item:hover{
	background-color:#CCCCCC;
}
.context_menu_separator{
	background-color:gray;
	height:1px;
	margin:0;
	padding:0;
}

.table-letra-pequena > tbody{
    font-size: 10px;
}

.table-letra-pequena > thead > tr > th{
    font-size: 10px;
}

#contenido-popup-informacion-capas > .fa-spinner{
    text-align: center;
    width: 100%;
}

#busqueda {
  margin-top: 9px;
}

#busqueda > input{
    width:300px;
}
