html {
    position: relative;
    min-height: 100%;
}

#main {
    margin-bottom: 35px;
    padding-bottom: 35px;
}

#footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0 !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.footer {
    -moz-border-radius: 4px;
    border-radius: 4px;
    min-height: 60px;
    text-align: center;
    padding-top:  10px !important;
    background-color: #101010;
    background: #101010;
    color: #9d9d9d;
}

#mainNavBar .dropdown-menu a {
    color:white;
}

#mainNavBar .dropdown-menu a:hover {
    color:#000000;
}

@media (min-width:768px){
    li.dropdown:hover .dropdown-menu{display:block;}
}

.visor-emergencias {
    overflow: hidden;
    position: relative;
    min-height: 480px;
}

.map-controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

@media (min-width: 640px){
    .logo-visor {
        width: 70px;
        height: 35px;
        margin-left: -30px;
    }
}

@media (max-width: 639px) {
    .logo-visor {
        width: 60px;
        height: 60px;
        margin-left: -30px;
    }
}

#input-buscador-mapa {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#input-buscador-mapa:focus {
    border-color: #4d90fe;
}

.bg-color1 {
    background-color: black;
}

.bg-color2 {
    background-color: #F31CA4;
}

.bg-color3 {
    background-color: green;
}

.bg-color4 {
    background-color: orange;
}

.bg-color5 {
    background-color: #0002FF;
}

.bg-color1, .bg-color2, .bg-color3, .bg-color4, .bg-color5 {
    color: white;
    text-align: center;
    min-width: 40px;
    min-height: 35px;
}

.bg-color1:hover, .bg-color2:hover, .bg-color3:hover, .bg-color4:hover, .bg-color5:hover {
    color: white;
    text-align: center;
    min-width: 40px;
    min-height: 35px;
}

.cargando{
    display: none; 
    position: fixed; 
    width: 100%;

   text-align: center;
    z-index: 100000000; 
    background-color: black;
  
    color:black;
    font-size: 12px;
    

  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  text-shadow: 1px 1px 1px #000;

}

.cargando  img{
    
    padding: 5px; 
    display: inline-block;
    z-index: 10000000; 
}

.dataTables_wrapper div.separator {
    margin-bottom: 10px;
}

.incendio{
    background-image: url('../img/incendio_ico.png');
    background-size: 115px 115px;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 115px;
    width: 115px;   
}
.quimico{
    background-image: url('../img/quimicos_ico.png');
    background-size: 115px 115px;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 115px;
    width: 115px;   
}
.meteorologico{
   /* background-image: url('../img/quimico_ico.png');*/
    background-size: 115px 115px;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 115px;
    width: 115px;   
}
.sismo{
   /* background-image: url('../img/quimico_ico.png');*/
    background-size: 115px 115px;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 115px;
    width: 115px;   
}
.tsunami{
   /* background-image: url('../img/quimico_ico.png');*/
    background-size: 115px 115px;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 115px;
    width: 115px;   
}
.volcan{
   /* background-image: url('../img/quimico_ico.png');*/
    background-size: 115px 115px;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 115px;
    width: 115px;   
}
.sequia{
   /* background-image: url('../img/quimico_ico.png');*/
    background-size: 115px 115px;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 115px;
    width: 115px;   
}
.accidente{
    background-image: url('../img/accidente_ico.png');
    background-size: 115px 115px;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 115px;
    width: 115px;   
}
.terrorista{
    background-image: url('../img/policia_ico.png');
    background-size: 115px 115px;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 115px;
    width: 115px;   
}
.salud{
    background-image: url('../img/salud_ico.png');
    background-size: 115px 115px;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 115px;
    width: 115px;   
}
.otro{
    background-image: url('../img/otros_ico.png');
    background-size: 115px 115px;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 115px;
    width: 115px;   
}
.radiologica{
    background-image: url('../img/radiactivo_ico.png');
    background-size: 115px 115px;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 115px;
    width: 115px;   
}